.login-left-container {
  background-image: linear-gradient(to right, #fbb03b, #d4145a);
  background-size: cover;
  background-position: 0%;
  width: 65vw;
  height: 100vh;
}
.login-logo {
  text-align: left;
  margin-right: 80%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: blueviolet;
}
.login-heading {
  font-size: 40px;
  padding: 25px;
  margin: 25px;
  color: black;
}
.login-main-container {
  display: flex;
}
.login-description {
  color: black;
  font-size: larger;
  font-weight: bolder;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.logo-img {
  height: auto;
  width: 70px;
  padding-top: 25px;
}
.login-right-container {
  background-color: beige;
  width: 35vw;
}
.login-input {
  width: 80%;
  border-width: 0;
  outline: none;
  height: 50px;
  border-radius: 20px;
  padding-left: 20px;
  margin-top: 10px;
}
.form-heading-container {
  align-self: center;
  text-align: center;
}
.form-input-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 25px;
}
.show-password-container {
  display: flex;
  align-self: flex-start;
  margin-top: 15px;
}
.login-button {
  height: 50px;
  width: 85%;
  background-color: blueviolet;
  border-width: 0;
  border-radius: 25px;
  align-self: flex-start;
  margin-left: 25px;
  margin-top: 20px;
  color: white;
  font-weight: bold;
}
.login-button:hover {
  color: #d4145a;
  font-weight: bolder;
}
.login-para-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
